.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.headingTitle {
  font-weight: 700;
  font-size: 50px;
  text-align: center;
  line-height: 60px;
}

.headingSubTitle {
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  line-height: 40px;
}

.boxCenter {
  margin-top: 70px;
  position: relative;
  height: 15rem;
  width: 30rem;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.region2 {
  background-color: #fafafa;
}

.region3{
    background-color: yellowgreen;
    
}