.headingTitle {
  font-weight: 700;
  font-size: 50px;
  text-align: center;
  line-height: 60px;
}

.headingSubTitle {
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  line-height: 40px;
}

.boxCenter {
  margin-top: 70px;
  position: relative;
  height: 15rem;
  width: 30rem;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.region2{
    background-color: antiquewhite;
}